apiVersion: v1
stringData:
  BW_HOST: "vault.bitwarden.eu"
  BW_PASSWORD: "MasterPassword"
  BW_CLIENTID: "ClientId"
  BW_CLIENTSECRET: "ClientSecret"
kind: Secret
metadata:
  name: bitwarden
  namespace: bitwarden
type: Opaque
