[defaults]
inventory = inventory.yaml
interpreter_python=/usr/bin/python3
host_key_checking = False
timeout=30
gathering = smart
fact_caching = jsonfile
fact_caching_connection = .fact_cache
fact_caching_timeout = 43200
hash_behaviour = merge
forks = 32
vault_password_file=.vault_pass
stdout_callback=debug
nocows=True

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=1200

[persistent_connection]
connect_timeout = 60
